{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<main style="margin-top: 80px;" class="mb-5 pb-5">
    <div class="container">
        <div class="row">
            <img src="{% static 'block_logo.png' %}" alt="" style="height: 30vh" class=" d-block img-thumbnail">
            <div class="col text-left ">
                <p><span class="font-weight-bold">{% trans 'Ім`я' %}:</span> {{ request.user.first_name }}</p>
                <p>
                    <span class="font-weight-bold">{% trans "Ім`я по батькові" %}:</span> 
                    {% if request.user.second_name is None %}
                        {% trans "Натисніть 'Редагувати інформацію' щоб додати ім`я по батькові" %}
                    {% else %}{{ request.user.second_name }}
                    {% endif %}
                </p>
                <p><span class="font-weight-bold">{% trans 'Прізвище' %}:</span> {{ request.user.last_name }}</p>
                <p><span class="font-weight-bold">{% trans 'Електронна пошта' %}:</span> {{ request.user.email }}</p>
                <p><span class="font-weight-bold">{% trans 'Номер телефону' %}:</span> 
                    {% if request.user.phone_number is None %}
                        {% trans 'Натисніть "Редагувати інформацію" щоб додати номер телефону' %}
                    {% else %}{{ request.user.phone_number }}
                    {% endif %}
                </p>
                <p><span class="font-weight-bold">{% trans 'Статус оптовика' %}:</span>  
                    {% if not request.user.wholesaler %}
                        {% trans 'Ні' %}
                    {% else %}
                        {% trans 'Так'%}
                    {% endif %}
                </p>
                {% if not edit %}
                    <a href="{% url 'edit_account' %}" class="btn btn-light">{% trans 'Редагувати інформацію' %}</a>
                {% endif %}
            </div>
            
        </div>
        {% if edit %}
            <div class="card mb-5" style="height: auto">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                
                        {{ form1 | crispy }}
                        {{ form2 | crispy }}
                        <button type="submit" class="btn btn-primary float-right">{% trans 'Зберегти' %}</button>
                    </form>
                </div>
            </div>
        {% endif %}
        <div class="col-12">
            <h4>{% trans 'Історія замовлень' %}:</h4><hr>
            <div>
                <ul class="list-group">
                    {% for ordered_cart in ordered_carts %}
                        <li class="list-group-item">
                            <big>
                                <strong>
                                    {% trans 'Замовлення' %} # {{ordered_cart.id}} {% trans 'від' %} {{ ordered_cart.ordered_date }} 
                                    <span class="badge badge-success">₴ {{ ordered_cart.get_total }}</span>
                                    {% if ordered_cart.order_status == 'OA' %}
                                        <span class="badge badge-light">{% trans 'Замовлення прийнято' %}</span>
                                    {% elif ordered_cart.order_status == 'OIP' %}
                                        <span class="badge badge-primary">{% trans 'Замовлення виконується' %}</span>
                                    {% elif ordered_cart.order_status == 'OF' %}
                                        <span class="badge badge-success">{% trans 'Замовлення виконане' %}</span>
                                    {% endif %}
                                </strong>
                            </big> 
                            <a class="btn btn-sm btn-primary ml-5" href="{% url 'checkout:generate_invoice_in_cabinet' ordered_cart.id %}">{% trans 'Згенерувати накладну' %}</a> 
                            <br>
                            {% for item in ordered_cart.items.all %}
                                {{ item.item.title }}, {% trans 'кількість' %}: <b>{{item.quantity}}</b>, {% trans 'ціна' %}: <b>{{item.item.price}} ₴</b>, {% trans 'сума' %}: <b>{{item.get_final_price}} ₴</b> <br>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    
</main>
{% endblock content %}