{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<main style="margin-top: 100px;">
    <div class="container col-11">
      <div class="display_category_sidebar">
        <div class="title mt-1 mb-1 text-center">
          <h4>{% trans 'Kатегорія' %}: {{ category.title }}</h4>
          <div class="text-center">
            <img src="{{ category.image.url }}" alt="img" style="height: 320px;" class="">
          </div>
          <div>
            <button class="btn btn-outline-success categories-btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              {% trans 'Всі категорії' %}
            </button>
            <div class="collapse" id="collapseExample">
              <div class="card card-body dm_list">
                {% for category in categories %}
                  <a href="{{ category.get_absolute_url }}" class="dropdown-item"><li class="list-group-item">{{ category.title }}</li></a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <section class="text-center mb-5 mt-2">
          <nav class="navbar navbar-expand-lg navbar-dark mdb-color success-color-dark mt-3 mb-5" style="border-radius: 5px;">    
              <form id="search" action="{% url 'core:search_results' %}" class="form-inline w-100" method="POST">
                {% csrf_token %}
                <div class="md-form my-0 w-100">
                  <input class="form-control w-100 m-0" id="q" name="q" type="text" placeholder="{% trans 'Введіть назву запчастини чи її артикул та натисніть Enter' %}" aria-label="Search" title="{% trans 'Намагайтесь вводити точну назву чи артикул' %}">
                </div>
              </form>
            <!-- </div> -->
              <!-- Collapsible content -->
          </nav>
  
          <!--Grid row-->
          <div class="row mt-5 items_table">
  
            <!--Grid column-->
            
            {% for subcategory in subcategories %}
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-4">
                <div class="card card-item">
                    <div class="card-body">
                      <div class="img-title-box">
                        <a href="{{ subcategory.get_absolute_url }}" class="card-link">
                          <div class="card-img-box">
                            <img src="{{ subcategory.image.url }}" alt="" class="card-img-top">
                          </div>
                          <div class="card-title-box">
                            <p>{{ subcategory.title }}</p>
                          </div>
                        </a>
                      </div>
                      <div class="card-btn-box">
                        <a href="{{ subcategory.get_absolute_url }}" class="btn btn-success">{% trans 'Перейти' %}</a> 
                      </div>
                    </div>
                </div>
              </div>
            {% endfor %}
            {% for item in items %}
              {% include 'elements/item-element.html' %}
            {% endfor %}
              
  
          </div>
        </section>
      </div>
    </div>
    
</main>
{% endblock content %}  