{% extends 'base.html' %}
{% load i18n %}


{% block content %}
<!--Carousel Wrapper-->
<main style="margin-top: 100px;">
    <div class="container">
        <div class="table-responsive text-nowrap">
            <h2>{% trans 'Ваше замовлення' %}</h2>
            <table class="table mb-5 pb-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Артикул' %}</th>
                    <th scope="col">{% trans 'Назва товару' %}</th>
                    <th scope="col">{% trans 'Ціна' %}</th>
                    <th scope="col">{% trans 'Кількість' %}</th>
                    <th scope="col">{% trans 'Загальна вартість' %}</th>
                    <th scope="col" class="text-center"><i class="fas fa-trash"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for cart_item in object.items.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{{ cart_item.item.get_absolute_url }}" class="card-link">{{ cart_item.item.item_code }}</a></td>
                        <td><a href="{{ cart_item.item.get_absolute_url }}" class="card-link">{{ cart_item.item.title }}</a></td>
                        <td>
                            <span>₴ {{ cart_item.item_price }}</span>
                        </td>
                        <td class="d-flex">
                            <a href="{% url 'remove_single_item_cart' cart_item.item.slug %}" class="btn btn-sm btn-info mr-3"><i class="fas fa-minus" style="font-size: 20px;"></i></a>
                            <input required min="1" max="10000" cart_item_id="{{ cart_item.id }}" class="form-control w-50 item_quantity_input" name="item_quantity_input" type="number" value="{{ cart_item.quantity }}">
                            <a href="{% url 'add_to_cart' cart_item.item.slug %}" class="btn btn-sm btn-info ml-3"><i class="fas fa-plus" style="font-size: 20px;"></i></a>
                        </td>
                        <td>
                            ₴ <span class="cart_item_total" id="cart_item_total_{{cart_item.id}}">{{ cart_item.get_total_item_price }}</span>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger text-right" href="{% url 'remove_from_cart' cart_item.item.slug %}">
                                <i class="fas fa-trash" style="font-size: 20px;"></i>
                            </a>
                        </td>
                    </tr>
                    
                    {% empty %}
                    <tr>
                        <td colspan="6">{% trans 'Ваш кошик порожній' %}!</td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <a class="btn btn-primary float-right" href="/">{% trans 'Продовжити покупки' %}</a>
                        </td>
                    </tr>
                {% endfor %}
                {% if object.get_total %}
                <tr>
                    <td colspan="6"><b>{% trans 'Сума замовлення' %}</b></td>
                    <td><b>₴ <span id="order_total">{{ object.get_total }}</span></b></td>
                </tr>
                {% endif %}
                
                  

            </tbody>
            </table>
        
        </div>

        <div class="action-buttons">
            <a class="btn btn-success float-right ml-2 mb-3" href="{% url 'checkout:index' %}">{% trans 'Перейти до оформлення' %}</a>
            <a class="btn btn-primary float-right" href="/">{% trans 'Продовжити покупки' %}</a>
        </div>
    </div>
</main>
<!--Main layout-->
{% endblock content %}